{% extends "base.html" %}

{% block title %}ログイン{% endblock %}

{% block content %}

<div class="columns is-centered">
    <div class="column is-4">

        <div class="card">
            <header class="card-header has-background-primary">
                <p class="card-header-title has-text-white">
                    ままのわシフトボード
                </p>
            </header>

            <div class="card-content">
                <form method="POST">

                    <div class="field">
                        <label class="label">ユーザー名</label>
                        <div class="control">
                            <input class="input"
                                   type="text"
                                   name="username"
                                   placeholder="ユーザー名"
                                   required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">パスワード</label>
                        <div class="control">
                            <input class="input"
                                   type="password"
                                   name="password"
                                   placeholder="パスワード"
                                   required>
                        </div>
                    </div>

                    <div class="field mt-4">
                        <div class="control">
                            <button class="button is-primary is-fullwidth">
                                ログイン
                            </button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div>
            <p>
                注意：
                ・ブラウザの戻るボタンで前のページに戻ると、ログイン状態が維持されない・データが保存されない場合があります。必ずアプリ内のボタンで操作してください。<br>
                ・パスワードは忘れた場合は、管理者に問い合わせてください。<br>
                ・複数タブで開くと不具合の原因となります。必ず1つのタブで操作してください。
            </p>
        </div>

    </div>
</div>

{% endblock %}

<!--
<!DOCTYPE html>
<html>
<body>
    <h2>ログイン</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <button type="submit">ログイン</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p style="color:red">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
-->